.footer {
  background-color: var(--mainColor);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  display: block;
  font-size: 15px;
  padding-top: 10px;
}
